<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template html libros</title>
</head>
<body>
    {% if lastest_question_list %}
        <ul>
        {% for question in lastest_question_list %}
            <li><a href="/polls/{{question.id }}/">{{question.question_text}}</a></li>
        {% endfor %}
        </ul>
{% else %}
    <p>No polls are available.</p>
{% endif%}
<a href="../../static/documentos/aviso_privacidad.pdf" target="_blank" rel="noopener noreferrer">Ver aviso de privacidad</a>
<a href="../../static/documentos/aviso_privacidad.pdf" target="_blank" rel="noopener noreferrer">Ver aviso de privacidad2</a>
</body>
</html>